.App {
  text-align: center;
}

.App-logo {
  height: 250px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    
  }
}

h1{
  color:teal;
  font-family: Georgia;
}

.App-header {
  background-color: gray;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-Major {
color:blue;
}
