.App {
  text-align: center;
}

.pic{
  float: left;
}

img.fret {
  margin-top: 100px;
  border: 2px solid black;
}

img.Header {
  height: 150px;
  margin-bottom: 30px;
  border: 2px solid teal;
  border-radius: 10px;
}

img.electric {
  width: 45%;
  height: 300px;
  position: relative;
  float: left;
  left: -475px;
  animation: Moveelectric 1.5s;
  border: 2px solid teal;
  border-radius: 40px;
}

img.electric:hover{
  transform: rotate(-3deg);

}
@keyframes Moveelectric{
  from{
      left: -1000px;
      top: 0px;
  }
  to{
      left:-475px;
      top:0;
  }
}

img.logo {
  width: 45%;
  height: 300px;
  position: relative;
  float: left;
  left:550px;
  animation: Movelogo 1.5s;
  border: 2px solid teal;
  border-radius: 40px;
}

img.logo:hover{
  transform: rotate(-3deg);
}

@keyframes Movelogo{
  from{
      left: -1000px;
      top: 0px;
  }
  to{
      left:550px;
      top:0;
  }
}

img.fret{
  position: relative;
  float: left;
  left:30px;
  animation: Movefret 1.5s;
  border: 1px solid black;
  border-radius: 10px;
  margin-bottom: 50px;
}

body p{
  font-weight: 1000;
}

@keyframes Movefret{
  from{
      left: 30px;
      top: 800px;
  }
  to{
      left:30px;
      top:0;
  }
}

article p{
  margin-left: 70px;
  margin-right: 70px;
  color: black;
  font-weight: 500;
}


h1{
  color:teal;
  font-family: Arial;
}

h3{
  color: teal;
  font-family: Arial;
}

.App-header {
  background-color: #676767;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  
}

.Major {
  align-items: center;
  color:teal;
  font-size: medium;
}

.Minor{
  color:teal;
  font-size: medium;
}

.Sharp{
  color:teal;
  font-size: medium;
}


.Maj{
  margin: auto;
  width: 30%;
  padding: 10px;
}
.Min{
  margin: auto;
  width: 30%;
  padding: 10px;
}
.Sha{
  margin: auto;
  width: 30%;
  padding: 10px;
}

body{
  background-color: #676767;
}

svg > text{
  font-size: larger;
  fill:teal;
}
