.App {
  text-align: center;
}

img.fret {
  margin-top: 100px;
  border: 2px solid black;
}

img.electric {
  width: 450px;
  height: 300px;
  position: relative;
  float: left;
  animation: Moveelectric 1.5s;
  border: 2px solid teal;
  border-radius: 40px;
}
@keyframes Moveelectric{
  from{
      left: -1000px;
      top: 0px;
  }
  to{
      left:375px;
      top:0;
  }
}

img.logo {
  width: 450px;
  height: 300px;
  position: relative;
  float: left;
  animation: Movelogo 1.5s;
  border: 2px solid teal;
  border-radius: 40px;
}

img.logo:hover{
  transform: rotate(-3deg);
}

@keyframes Movelogo{
  from{
      left: -1000px;
      top: 0px;
  }
  to{
      left:-350px;
      top:0;
  }
}

article p{
  margin-left: 70px;
  margin-right: 70px;
}

h1{
  color:teal;
  font-family: Arial;
}

.App-header {
  background-color: gray;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  
}

.Major {
  align-items: center;
  color:teal;
  font-size: medium;
}

.Minor{
  color:teal;
  font-size: medium;
}

.Sharp{
  color:teal;
  font-size: medium;
}

.Maj{
  margin: auto;
  width: 30%;
  padding: 10px;
}
.Min{
  margin: auto;
  width: 30%;
  padding: 10px;
}
.Sha{
  margin: auto;
  width: 30%;
  padding: 10px;
}

body{
  background-color: grey;
}

svg > text{
  font-size: larger;
  fill:teal;
}
